<section class="section">
  <div class ="section_inner">

    <h1>請求書編集</h1>

    <%= render 'form', invoice: @invoice, order: @order, order_supplies: @order_supplies %>

    <%= link_to '戻る', invoices_path %>

  </div>
</section>
