<section class="section">
  <div class ="section_inner">

    <h1>請求書作成</h1>

    <%= render 'form', invoice: @invoice, order: @order, order_supplies: @order_supplies %>

    <%= link_to '戻る', index_receive_orders_path %>

  </div>
</section>
