<div class="pdf">
<p>hello</p>

12345<br>

請求書
</div>

<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese');

.pdf{
    font-size: 100px;
    font-family: 'Noto Serif JP', serif;
}
</style>