<section class="section">
  <div class ="section_inner">

    <h1><%= @order.code %>スケジュール登録</h1>

    <%= render 'form', schedule: @schedule, order: @order %>

    <%= link_to '戻る', schedules_path(format: @order.id) %>

  </div>
</section>
 