<section class="section">
  <div class ="section_inner">

    <h1>在庫登録</h1>

    <%= render 'form', product: @product, category: @category %>

    <%= link_to '戻る', products_path %>

  </div>
</section>
