<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese" %>
    <%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>